<head><link rel="stylesheet" href="./app.component.css"></head>
<body>
    <h1 style="color:blue">The Swiss Franc</h1>
    <p>The Swiss Franc is the currency of Switzerland and Liechtenstein. Despite its name sounding french, it is not the legal tender of france as the French use the Euro.</p>
    <img src="images/Social-Media-Posts-1536x1024.jpg" class="img" width="500px" />
    <div class="flex">
        <span class="textFlex">The Swiss National Bank issues the banknotes and the Swissmint issues the coins, but does not put mints in the coins nor are the coins made of delicious Swiss chocolate. </span>
        <img src="images/275_detail.png" class="coins" width="150px" />
    </div>
    <p>A hundredth of a franc, what Americans refer to as the cent to the USD's dollar, is called the Rappen in German, centesimo in Italian, centime in French, rap in Romansh and does not have a standardized name in the same manner as the Franc does.</p>
    <img src="images/220px-5chf1889.png" class="img" width="250px" />
    <h2 style="color:orchid">Bill Design</h2>
    <p>The Swiss Franc is a colorful bill, looking very much like the money used in the board game Monopoly as a result. However, its the colors of the Franc bills and the grand designs of the coin Francs that lead to its appeal to collectors.</p>
    <img src="images/GettyImages-10118272761-fd690b3595bf4c37b0de9e5d9bc3ae7f.jpg" class="img" width="500px" />
    <h2 style="color:green">Collectability</h2>
    <p>The most popular of these Franc variants are the high value banknotes like the 1000-Franc note, despite the fact that these notes are not being used for transactions.</p>
    <p>This is due to the negative interests rates being given by many Swiss banks on large deposits making it more profitable to keep physical cash in Switzerland. According to Coinworld.com about 59 percent of all Swiss Francs in circulation by value are 1000-franc notes</p>
    <img src="images/1000-swiss-francs-banknote-jacob-burckhardt-8th-series-obverse.jpg" class="img" width="500px" />
    <router-outlet></router-outlet>
</body>